# Loading Data

In [2]:
# import libraries

import pandas as pd
import zipfile, urllib, os
from urllib.request import Request,urlopen, urlretrieve

In [3]:
# Create a function to apply a date to the MTA format URL for each .txt file

def url_creator(date):
    ''' 
    A function to apply a date to the MTA format URL for each .txt file
    '''
    return "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt".format(date)

In [4]:
# Create a function to return all saturdays 

def saturdays(start_date,end_date):
    ''' 
    A function to return all saturdays within two given dates
    '''
    dates = pd.date_range(start = start_date,end = end_date ,freq='W-SAT').strftime('%y%m%d').tolist()
    return dates

start_date = "2020-01-01"
end_date = "2021-01-01"

dates = saturdays(start_date, end_date)
print(dates)

['200104', '200111', '200118', '200125', '200201', '200208', '200215', '200222', '200229', '200307', '200314', '200321', '200328', '200404', '200411', '200418', '200425', '200502', '200509', '200516', '200523', '200530', '200606', '200613', '200620', '200627', '200704', '200711', '200718', '200725', '200801', '200808', '200815', '200822', '200829', '200905', '200912', '200919', '200926', '201003', '201010', '201017', '201024', '201031', '201107', '201114', '201121', '201128', '201205', '201212', '201219', '201226']

In [5]:
# creat a list of dataframe's to concat
list_df = []

# add all .txt files uplodaed for the given dates using the Saturday's function to a single dataframe

for date in dates:
    # creating a variable holding the basurl for a given date

    base_url = url_creator(date)
    # add and read each file to a dataframe and add it to the list to be concated
    
    df = pd.read_csv(str(base_url),parse_dates = [['DATE','TIME']],index_col = 'DATE_TIME')
    list_df.append(df)

In [6]:
# Consolidate all weekly dataframes into one data frame

consolidated_mta_data = pd.concat(list_df)

In [7]:
# Save data frame to local 

consolidated_mta_data.to_csv('consolidated_mta_data.csv')

In [8]:
# Load dataframe 

df = pd.read_csv("consolidated_mta_data.csv")

# Loading Data

In [10]:
# Convert to date_time

In [11]:
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME'])

In [14]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(20)

          C/A  UNIT       SCP       STATION           DATE_TIME  ENTRIES
9732218  R514  R094  00-05-00  ASTORIA BLVD 2020-01-18 23:00:00        2
6885156  R110  R027  01-00-02       WALL ST 2020-12-15 07:00:00        2
6885154  R110  R027  01-00-02       WALL ST 2020-12-14 23:00:00        2
9732219  R514  R094  00-05-00  ASTORIA BLVD 2020-01-19 03:00:00        2
9732235  R514  R094  00-05-00  ASTORIA BLVD 2020-01-21 19:00:00        2
9732217  R514  R094  00-05-00  ASTORIA BLVD 2020-01-18 19:00:00        2
5977407  N701  R571  00-00-00   86 ST-2 AVE 2020-09-24 09:00:00        2
9732216  R514  R094  00-05-00  ASTORIA BLVD 2020-01-18 15:00:00        2
9732215  R514  R094  00-05-00  ASTORIA BLVD 2020-01-18 11:00:00        2
1745184  H009  R235  00-06-03    BEDFORD AV 2020-08-12 16:00:00        2
1745185  H009  R235  00-06-03    BEDFORD AV 2020-08-12 20:00:00        2
9732214  R514  R094  00-05-00  ASTORIA BLVD 2020-01-18 07:00:00        2
9732213  R514  R094  00-05-00  ASTORIA BLVD 2020-01-18 03:00:00        2
9732236  R514  R094  00-05-00  ASTORIA BLVD 2020-01-21 23:00:00        2
1745189  H009  R235  00-06-03    BEDFORD AV 2020-08-13 00:00:00        2
1745190  H009  R235  00-06-03    BEDFORD AV 2020-08-13 04:00:00        2
9732237  R514  R094  00-05-00  ASTORIA BLVD 2020-01-22 03:00:00        2
9732238  R514  R094  00-05-00  ASTORIA BLVD 2020-01-22 07:00:00        2
1634571  H001  R175  00-00-02          8 AV 2020-02-01 00:00:00        2
5473267  N532  R129  00-00-00     BERGEN ST 2020-08-31 17:00:00        2

In [15]:
# Get rid of the duplicate entry
df.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
df.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [16]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(20)

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2019-12-28 03:00:00        1
7213435  R138  R293  00-03-02  34 ST-PENN STA 2020-05-05 22:00:00        1
7213437  R138  R293  00-03-02  34 ST-PENN STA 2020-05-06 06:00:00        1
7213438  R138  R293  00-03-02  34 ST-PENN STA 2020-05-06 10:00:00        1
7213439  R138  R293  00-03-02  34 ST-PENN STA 2020-05-06 14:00:00        1
7213440  R138  R293  00-03-02  34 ST-PENN STA 2020-05-06 18:00:00        1
7213441  R138  R293  00-03-02  34 ST-PENN STA 2020-05-06 22:00:00        1
7213442  R138  R293  00-03-02  34 ST-PENN STA 2020-05-07 02:00:00        1
7213443  R138  R293  00-03-02  34 ST-PENN STA 2020-05-07 06:00:00        1
7213444  R138  R293  00-03-02  34 ST-PENN STA 2020-05-07 10:00:00        1
7213445  R138  R293  00-03-02  34 ST-PENN STA 2020-05-07 14:00:00        1
7213446  R138  R293  00-03-02  34 ST-PENN STA 2020-05-07 18:00:00        1
7213447  R138  R293  00-03-02  34 ST-PENN STA 2020-05-07 22:00:00        1
7213448  R138  R293  00-03-02  34 ST-PENN STA 2020-05-08 02:00:00        1
7213449  R138  R293  00-03-02  34 ST-PENN STA 2020-05-08 06:00:00        1
7213450  R138  R293  00-03-02  34 ST-PENN STA 2020-05-08 10:00:00        1
7213451  R138  R293  00-03-02  34 ST-PENN STA 2020-05-08 14:00:00        1
7213452  R138  R293  00-03-02  34 ST-PENN STA 2020-05-08 18:00:00        1
7213453  R138  R293  00-03-02  34 ST-PENN STA 2020-05-08 22:00:00        1
7213436  R138  R293  00-03-02  34 ST-PENN STA 2020-05-06 02:00:00        1

In [ ]:
# Create date variable (removing hours and minutes)

In [22]:
df.dtypes

DATE_TIME                                                               datetime64[ns]
C/A                                                                             object
UNIT                                                                            object
SCP                                                                             object
STATION                                                                         object
LINENAME                                                                        object
DIVISION                                                                        object
DESC                                                                            object
ENTRIES                                                                          int64
EXITS                                                                            int64
dtype: object

In [40]:
# create a date only variable (remove hours and minutes)

df['DATE'] = df['DATE_TIME'].dt.date

In [41]:
# Creating a dataframe grouping by day

turnstiles_daily = (df
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())

In [42]:
turnstiles_daily.head(10)

    C/A  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  2019-12-28  7325143
1  A002  R051  02-00-00   59 ST  2019-12-29  7325774
2  A002  R051  02-00-00   59 ST  2019-12-30  7326944
3  A002  R051  02-00-00   59 ST  2019-12-31  7327981
4  A002  R051  02-00-00   59 ST  2020-01-01  7328499
5  A002  R051  02-00-00   59 ST  2020-01-02  7329882
6  A002  R051  02-00-00   59 ST  2020-01-03  7331169
7  A002  R051  02-00-00   59 ST  2020-01-04  7331951
8  A002  R051  02-00-00   59 ST  2020-01-05  7332543
9  A002  R051  02-00-00   59 ST  2020-01-06  7333879

In [44]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE", "ENTRIES"]
                                                       .apply(lambda grp: grp.shift(1)))

<ipython-input-44-3a945374269e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily

In [46]:
# sanity check

turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  2019-12-28  7325143         NaN           NaN
1  A002  R051  02-00-00   59 ST  2019-12-29  7325774  2019-12-28     7325143.0
2  A002  R051  02-00-00   59 ST  2019-12-30  7326944  2019-12-29     7325774.0
3  A002  R051  02-00-00   59 ST  2019-12-31  7327981  2019-12-30     7326944.0
4  A002  R051  02-00-00   59 ST  2020-01-01  7328499  2019-12-31     7327981.0

In [47]:
# Drop the rows for the earliest date in the df

turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [48]:
turnstiles_daily.head()

    C/A  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
1  A002  R051  02-00-00   59 ST  2019-12-29  7325774  2019-12-28     7325143.0
2  A002  R051  02-00-00   59 ST  2019-12-30  7326944  2019-12-29     7325774.0
3  A002  R051  02-00-00   59 ST  2019-12-31  7327981  2019-12-30     7326944.0
4  A002  R051  02-00-00   59 ST  2020-01-01  7328499  2019-12-31     7327981.0
5  A002  R051  02-00-00   59 ST  2020-01-02  7329882  2020-01-01     7328499.0

# Hadling negative values

In [50]:
# Checking where previous entries are greater than current

turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
4040,A002,R051,02-06-00,59 ST,2020-02-13,889,2020-02-12,82625.0
4127,A002,R051,02-06-00,59 ST,2020-09-12,27005,2020-05-09,44341.0
5795,A006,R079,00-00-04,5 AV/59 ST,2020-04-13,22,2020-04-12,7896791.0
6125,A006,R079,00-03-00,5 AV/59 ST,2020-03-10,60,2020-03-09,9437429.0
9065,A007,R079,01-06-03,5 AV/59 ST,2020-04-07,4,2020-04-06,7832194.0

In [51]:
# Let's see how many stations have this problem

(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["C/A", "UNIT", "SCP", "STATION"])
    .size())

C/A    UNIT  SCP       STATION
A002   R051  02-06-00  59 ST                2
A006   R079  00-00-04  5 AV/59 ST           1
             00-03-00  5 AV/59 ST           1
A007   R079  01-06-03  5 AV/59 ST           1
A011   R080  01-03-00  57 ST-7 AV         363
                                         ...
R728   R226  00-00-00  GUN HILL RD          1
             00-00-01  GUN HILL RD          1
R729   R292  00-00-01  BAYCHESTER AV        1
R730   R431  00-00-04  EASTCHSTER/DYRE    361
TRAM1  R468  00-00-01  RIT-MANHATTAN        1
Length: 649, dtype: int64

In [64]:
# Create a function to handles instances where counter is descending

def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
# It'd probably be a good idea to use a number even significantly smaller than 1 million as the limit!
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

22 7896791.0
60 9437429.0
4 7832194.0
9 1562921334.0
289 3055256.0
348 1237351900.0
459077 85175465.0
123 1630877.0
20 2642748.0
848 1180101.0
305 7251354.0
658 1203534.0
26 3963030.0
6 6777428.0
1066 1091335.0
408 4676418.0
12 1309708904.0
294 6612092.0
107 8235039.0
210 2427404.0
379 1208236.0
93 1178971.0
88 1197880.0
262182 6657224.0
5309717 100663522.0
2031759 368226.0
170526823 1802952.0
248 1264348.0
36 5675074.0
25 8800439.0
223936549 167098.0
1294 6496220.0
1560308511 6140951.0
393220 118199797.0
455 2822958.0
524338 67889725.0
372 4971113.0
86 8360145.0
475957878 7480530.0
544 475738131.0
2920 3117927.0
618862 2634131.0
230 955727806.0
17126295 19676957.0
5177693 17134751.0
15065838 17126282.0
25525735 15065804.0
12309516 25525671.0
1730 1455549.0
233 2297325.0
219 1875169.0
631046281 246545.0
112 631050303.0
606 8096346.0
1136721145 6439404.0
212 3145253.0
72 1100765.0
590069 1906617.0
91 4038371.0
172229024 8843948.0
97 3953593.0
20 2635368.0
95 3571824.0
157 3563454.0
144 3086960.0
186 12153427.0
2191 6132998.0
279 8291685.0
63 1074082.0
6 10731820.0
33 15171263.0
77 15185542.0
49 8294808.0
33567747 143338.0
1610558722 10549231.0
120 3319940.0
100 2493895.0
61 8752396.0
15 2090862.0
280 7355319.0
351 394320240.0
18 168627933.0
507 2379734.0
51 4733633.0
7 1386134.0
7 2344491.0
83886080 655360.0
156 8876671.0
10 11957933.0
2935583 81029.0
321184286 5646398.0
307624182 321184285.0
673 4895014.0
32 1317615.0
94 3982864.0
1160 2419490.0
9133385 792048.0
524299 117443285.0
37 3334731.0
4785471 11470775.0
372 4838397.0
379 2018060.0
82 3069469.0
270532819 536177.0
899 14003432.0
1062 2302008.0
95 2407240.0
395233 2064683.0
2169 6567669.0
2010 22737699.0
746 342505202.0
455 3854804.0
524538 118146193.0
3 69161601.0
524311 102677421.0
1087 9501355.0
1077 8438239.0
283 5072269.0
56 1937131.0
88 1200404.0
1357 1510913.0
3834145 983905.0
160 3834145.0
1776 2313253.0
1245970758 1776.0
166 1246039062.0
655360 3529766.0
56 7703795.0
46 2393135.0
8368358 1822637.0
577296 2819416.0
262145 50332023.0
54 9046801.0
141 1516920.0
64 5558044.0
589865448 6311679.0
6313226 589865448.0
4456968 49195.0
50260 4456968.0
3302818 519122.0
520208 3302818.0
134277383 525023.0
458765 134277578.0
2555909 514058.0
582 3243165.0
278 5239290.0
318 3251529.0
81 644689531.0
174 6817281.0
383 6871938.0
1627393907 6366854.0
369101672 1973089.0
203 1408008.0
459319 1518041.0
10 2197669.0
154 235111205.0
589962 3166984.0
165 2351204.0
23 134570115.0
12 1098377.0
13 9133185.0
69 1021601.0
1021605 835.0
839 1483975.0
5 2706972.0
93 1325337.0
147 12840762.0
210 12003425.0
524337 2817588.0
704 2788291.0
35 3732118.0
0 4982181.0
554 7270887.0
890 10054500.0
78 1242136770.0
2614846 7318132.0
7318377 2614511.0
127 7326231.0
500 3115313.0
61 3080422.0
16 6350317.0
56 1943620.0
172 5912692.0
955056270 4994242.0
262248 955056882.0
524450 6946638.0
1055 4845991.0
1384 21914748.0
1224795285 6215.0
57 1224795434.0
30 10444603.0
917504 67108864.0
1761 9753069.0
872 12445406.0
2108 16347682.0
724 6567565.0
1254418451 28554762.0
2981 1254422418.0
2200 3323145.0
60 7149183.0
721366 6946581.0
138 5178331.0
245 2787060.0
2818161 11316778.0
30 1634879.0
458752 9259448.0
524292 2226894.0
218 2867603.0
776 16405684.0
230 5324632.0
414777508 349287.0
2043281611 4685084.0
983451 4659872.0
95 1143524.0
197 5125463.0
1900832 6048945.0
762 5951485.0
31 4058137.0
187 7855959.0
517 1786225.0
499 42927148.0
7 5433033.0
5436427 7.0
625 3795641.0
1397029 3004522.0
54 4112456.0
48 5583003.0
28 6190595.0
560 2384228.0
0 1955591.0
38 235366971.0
11 3366625.0
870767 2522090.0
92 1311697.0
315 6289129.0
263 2087362.0
221 10442448.0
263018 6190793.0
1154271193 13402588.0
524329 120318011.0
195 9679898.0
212 6658385.0
60 5373982.0
978 1365405.0
808 1736661.0
18 1437665.0
909 3583402.0
569321681 16784233.0
772 7553900.0
346 1119575.0
743 1775577.0
126 2836277.0
763 7066088.0
103 3299852.0
262146 67110893.0
545 2888736.0
5 13122450.0
21 2166896.0
139 655431311.0
9 1031327.0
868 11165049.0
1633 9277595.0
10316662 2619143.0
654375162 10318322.0
10449128 302132.0
67156129 10450185.0
4637060 1071258.0
1071773 4638441.0
2619212 10315953.0
10318413 2619345.0
302246 10448716.0
10450249 302452.0
1071394 4636475.0
4638540 1071671.0
277 2762132.0
524292 167811461.0
524852 2645417.0
1137 11047721.0
10 3109024.0
308 5182656.0
177 10323516.0
99 1054866231.0
386 6829758.0
179 1063040.0
10 6428987.0
4 7751347.0
6 6362738.0
160 8634390.0
5 16336060.0
144 21377118.0
550 16283553.0
90 3463880.0
471 1824508.0
27 2549195.0
592403 4715175.0
196 4008525.0
32 6478782.0
285 3953135.0
932 164368300.0
8 6813538.0
9 1004105.0
311 352594526.0
65841 2356117.0
1308989157 89033561.0
53101652 704878426.0
1895422010 110089021.0
248 1895327592.0
131135 118174528.0
67170406 325748.0
8 1119006.0
1119053 8.0
451 10584420.0
555290781 421603159.0
240 1614792.0
8 13681629.0
720897 117445467.0
524397 135382561.0
671113313 2663869.0
50 5697218.0
180 2944693.0
100695199 430716.0
637537564 2493709.0
620759348 2471176.0
131 3201434.0
51627564 318991258.0
10 1349677.0
1006685425 3932619.0
11 1536055.0
46 4625588.0
54 1776715.0
347 5359395.0
1245245 40728.0
38 2447878.0
117 3288343.0
245807 2525875.0
2526452 245807.0
1774276 4513885.0
4514240 1774276.0
3237530 931236.0
931712 3237530.0
11004192 114915.0
115671 11004192.0
12337680 161816.0
162927 12337680.0
2247979 348793.0
351262 2247979.0
87 6666023.0
568 13908931.0
1704221 17387207.0
13640277 8675910.0
8676918 13640277.0
53 3083086.0
105 1543713.0
52 5711054.0
1573 14787119.0
823394386 34975.0
655577 10696562.0
457 15209439.0
434 2515784.0
102 15484086.0
280 2867953.0
20917 2555393.0
7705071 24440.0
322 5112443.0
422 5596546.0
20 4362546.0
128 1589490.0
6118016 39944.0
23 6119125.0
23 5309695.0
22 1311420.0
24 2562789.0
3570 1327888.0
1328230 2569869.0
112 1210137.0
7915394 116876.0
307 6163310.0
1809310 13833008.0
13833233 1808874.0
83 1735463.0
199 7245766.0
814 1705161.0
120 1506660963.0
38 1185237.0
22 5621555.0
24 3242985.0
324 7740099.0

In [65]:
turnstiles_daily.head()

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,2019-12-29,7325774,2019-12-28,7325143.0,631.0
2,A002,R051,02-00-00,59 ST,2019-12-30,7326944,2019-12-29,7325774.0,1170.0
3,A002,R051,02-00-00,59 ST,2019-12-31,7327981,2019-12-30,7326944.0,1037.0
4,A002,R051,02-00-00,59 ST,2020-01-01,7328499,2019-12-31,7327981.0,518.0
5,A002,R051,02-00-00,59 ST,2020-01-02,7329882,2020-01-01,7328499.0,1383.0